@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.inter-font {
    font-family: "Inter", sans-serif;
}
header{
    max-width: 1600px;
    margin: 0 auto;
}


.navbar {
   
    justify-content: space-between; 
    align-items: center;
    padding: 1.2rem 10%;
    background-color: rgba(65, 37, 103, 1);
    position: relative;
    
}

.topic {
    font-size: 40px;
    font-weight: 800;
    flex: 1; 
    color: #fff;
}
.wave{
    color: 

rgba(251, 9, 180, 1)

}

.menu {
    width: 500px;
   height: 20px;
    list-style: none;
    flex: 1;
    gap: 30px;
   align-items: center;
   
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.btn-primary {
    width: 135px;
    background: linear-gradient(90deg, #FF5733, #FFC300);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    gap: 5;
    border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn-secondary {
    background: transparent;
    color: #00ff84;
    border: 1px solid #00ff84;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

#menu-toggle {
    display: none; 
}

.hamburger {
    display: none; 
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}

@media (min-width: 992px) {
    .btn-primary {
        margin-left: auto; 
    }
}


@media (max-width: 576px) {
    .hamburger {
        display: flex; 
    }

    .menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    #menu-toggle:checked ~ .menu {
        display: flex;
    }
    .btn-primary {
        display: none; 
    }
}
